* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.body {
    background-color: white;
}

.header {
    height: 10vh;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: #FEC1C9;
    background-clip: content-box;
}

.container {
    height: 80vh;
    display: flex;
}

.left {
    width: 50%;
}

.one-left {
    height: 50%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: #4CEBA9;
    background-clip: content-box;
}

.two-left {
    height: 50%;
    display: flex;
}

.left-two-left {
    width: 50%;
}

.red-box {
    height: 50%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: red;
    background-clip: content-box;
}

.orange-box {
    height: 50%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: orange;
    background-clip: content-box;
}

.right-two-left {
    width: 50%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: violet;
    background-clip: content-box;
}

.right {
    width: 50%;
}

.one-right {
    height: 20%;
    display: flex;
}

.violet-box {
    width: 80%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: purple;
    background-clip: content-box;
}

.green-box {
    width: 20%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: green;
    background-clip: content-box;
}

.two-right {
    height: 15%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: yellow;
    background-clip: content-box;
}

.three-right {
    height: 50%;
    display: flex;
}

.left-three-right {
    width: 33%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: #008083;
    background-clip: content-box;
}

.center-three-right {
    width: 34%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: red;
    background-clip: content-box;
}

.right-three-right {
    width: 33%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: #008083;
    background-clip: content-box;
}

.four-right {
    height: 15%;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: burlywood;
    background-clip: content-box;
}

.footer {
    height: 10vh;
    border: 7px solid #C9C9C9;
    padding: 2px;
    background-color: black;
    background-clip: content-box;
}